body{

margin:0;
padding:0;
font-family:Arial,sans-serif;

background:linear-gradient(
135deg,
#c2a4ff,
#f5e8ff
);

height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.container{

background:white;

width:500px;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 8px 20px rgba(0,0,0,.2);

}

h1{

color:#6a11cb;

}

p{

color:gray;

}

input{

margin:20px;
padding:10px;

}

button{

background:#6a11cb;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#4b0099;

}

#preview{

margin-top:20px;

font-size:15px;
color:#555;

}